{%- if license != "None" -%}
/////////////////////////////////////////////////////////////////////
// Copyright (c) {{ creation_year }} {{ license_owner }}.
// Distributed under the {{ license }}
// for more information read LICENSE file.
/////////////////////////////////////////////////////////////////////

{% endif -%}

#ifndef {{ project_slug|upper }}_{{ project_slug|upper }}_HPP
#define {{ project_slug|upper }}_{{ project_slug|upper }}_HPP

{%- if project_namespace|length %}{{ '\n\nnamespace ' ~ project_namespace ~ ' {' }}{% endif %}
{% if unit_testing != "None" %}
    {%- if project_type == "header-only library" %}
bool tested_function()
{
  return true;
}
    {%- else %}
bool tested_function();
    {%- endif -%}
{%- endif %}

{%- if project_namespace|length %}{{ '\n\n} // namespace ' ~ project_namespace }} {%- endif %}

#endif // {{ project_slug|upper }}_{{ project_slug|upper }}_HPP
