from conans import ConanFile


class {{ project_slug|replace("_", " ")|title|replace(" ", "") }}(ConanFile):
    generators = "cmake_find_package"
    requires = [
    {%- if unit_testing == "doctest" %}
        "doctest/2.4.11"
    {%- elif unit_testing == "GTest" %}
        {%- if cpp_standard == 0 %}
        "gtest/1.8.1"
        {%- else %}
        "gtest/1.12.1"
        {%- endif %}
    {%- elif unit_testing == "Catch2" %}
        "catch2/3.1.1"
    {%- elif unit_testing == "boost-ext-ut" %}
        "boost-ext-ut/1.1.9"
    {%- endif %}
    ]
