cmake_minimum_required(VERSION {{ cmake_min_version }})
project({{ project_slug }} LANGUAGES CXX)

set(CMAKE_CXX_STANDARD {% if cpp_standard > 0 %}{{ cpp_standard }}{% else %}98{% endif %})
list(APPEND CMAKE_MODULE_PATH ${CMAKE_CURRENT_SOURCE_DIR}/cmake)

include({{ project_slug }}_settings)

{%- if dependencies == "conan-1.x" %}
include({{ project_slug }}_conan)
{%- endif %}
include(CTest)
add_subdirectory(source)
