variables:
  GIT_SUBMODULE_STRATEGY: recursive
{%- if dependencies == "vcpkg" %}
  GIT_SUBMODULE_UPDATE_FLAGS: --depth=0  # required by vcpkg
{%- endif %}

include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'
  - local: '.gitlab-ci/build-and-test.yml'
{%- if dependencies == "conan" %}
  - local: '.gitlab-ci/conan-cache.yml'
{%- elif dependencies == "vcpkg" %}
  - local: '.gitlab-ci/vcpkg.yml'
{%- endif %}

{%- for name in ["ubuntu-20.04-gcc-9", "ubuntu-20.04-gcc-10", "ubuntu-20.04-gcc-11",
        "ubuntu-22.04-gcc-12", "ubuntu-20.04-clang-12", "ubuntu-20.04-clang-13", "ubuntu-20.04-clang-14"] %}

test:{{ name }}:
  extends: [ .build_and_test ]
  variables:
    DOCKER_IMAGE: maciejpatro/{{ name }}
{%- endfor %}
