cmake_minimum_required(VERSION {{ cmake_min_version }})
{{- "\nproject(" ~ project_slug  ~ ")" if project_type == "multi-library project" }}

add_library(${PROJECT_NAME} {{- " INTERFACE" if project_type== "header-only library" }})
{{- "\nadd_library(${PROJECT_NAME}::${PROJECT_NAME} ALIAS ${PROJECT_NAME})" if project_type== "multi-library project" }}

{%- if project_type == "header-only library" %}

target_include_directories(${PROJECT_NAME} INTERFACE include)
target_sources(${PROJECT_NAME}
{%- if cmake_min_version|float >= 3.23 %}
    INTERFACE
        FILE_SET HEADERS
        FILES
            include/{{ project_slug }}/{{ project_slug }}.hpp
{%- else %}
    INTERFACE
        include/{{ project_slug }}/{{ project_slug }}.hpp
{% endif %}
)
{%- else %}

target_include_directories(${PROJECT_NAME} PUBLIC include)
target_sources(${PROJECT_NAME}
    PRIVATE
        src/{{ project_slug }}.cpp
{%- if cmake_min_version|float >= 3.23 %}
    PRIVATE
        FILE_SET HEADERS
        FILES
            include/{{ project_slug }}/{{ project_slug }}.hpp
{%- else %}
        include/{{ project_slug }}/{{ project_slug }}.hpp
{% endif %}
)
target_link_libraries(${PROJECT_NAME}
    PRIVATE
        {{ project_slug }}::settings
)
{%- endif %}

{%- if project_type== "single executable" %}

add_executable(${PROJECT_NAME}_main src/main.cpp)
target_link_libraries(${PROJECT_NAME}_main
    PRIVATE
        ${PROJECT_NAME}
        {{ project_slug }}::settings
)
{%- endif %}

install(TARGETS ${PROJECT_NAME})

{%- if unit_testing != "None" %}

if(BUILD_TESTING)
    find_package({% if unit_testing == "boost-ext-ut" %}ut{% else %}{{ unit_testing }}{% endif %} REQUIRED)

    add_executable(${PROJECT_NAME}_tests)
    target_sources(${PROJECT_NAME}_tests
        PRIVATE
            tests/{{ project_slug }}_test.cpp
    )
    target_link_libraries(${PROJECT_NAME}_tests
        PRIVATE
            ${PROJECT_NAME}
            {% if unit_testing == "boost-ext-ut" %}boost::ut{% else %}{{ unit_testing }}::{{ unit_testing }}{% endif %}
            {{ project_slug }}::settings
    )
    {{ project_slug }}_add_uts(${PROJECT_NAME})
endif()
{%- endif %}
